/* GENERAL */
img
{
    max-width: 100%;
}
body
{
    font-family: "Raleway";
    margin: 0 auto;
}
h1
{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
h2
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: black; 
}
h3
{
    color: black; 
}
a
{
    text-decoration: none;
}

/* HEADER */
.header
{
    text-align: center;
}
.header img
{
    width: 61px;
    height: 19px;
    margin-top: 21px;  
 }
.headernav
{
    display: flex;
    align-items: center;
}
.headernavlien
{
    font-weight: 400;
    font-size: 16px;
    padding: 2rem;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    text-decoration: none;
    color: black;  
}
.headernavlien:hover
{
    border-bottom : 3px solid #0065FC ;
    color: #0065FC;
}

/* SECTION RECHERCHE*/

/*BARRE DE RECHERCHE*/
.recherche
{
    padding: 2rem;
}
.formulairederecherche
{
    display: flex;
    width: 100%;
} 
.iconelocalisation
{
    width: 50px;
    height: 49px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px; 
    text-align: center;
}
.barrederecherche
{
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: black;
}
.boutonrecherche
{
    width: 49px;
    height: 49px;
    background-color: #0065FC;
    align-items: center;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.fa-sharp
{
    color:#ffffff ; 
}

/*FILTRES*/
.titrefiltrederecherche
{
    width: 100%;
}
.filtre
{
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}
.filtre:hover
{
    background-color:#DEEBFF ;
}
.iconefiltre
{
    color: #0065FC; 
}
.titrefiltre
{
    font-weight: 700;
}
.resultatrecherche
{
    display: flex;
    align-items: center;
    text-align: center;
}
.iconeresultat
{
   border: solid 1px #D9D9D9;
   border-radius: 100%;
   color: #0065FC;
   width: 1.5rem;
   height: 1.5rem;
   justify-content: center;
   margin-right: 1rem;
}

/*ACTIVITES*/

/*POPULAIRE*/
.populaire
{
    background-color: #f2f2f2;
    padding: 2rem;
}
.titrepopulaire
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.fa-solid
{
    color: #0065FC;
}
.articlespopulaires
{
display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.lienarticlepopulaire
{
    height: 144px;
    display: flex;  
    background-color: #ffffff;
    border-radius: 20px;
}
.imgarticlepopulaire
{
    height: 134px;
    width: 137px;
    border:5px solid #ffffff;
    border-radius:20px 0 0 20px ;
}
.divcontenuarticlepopulaire
{
    display: flex;
    flex-direction: column;
    padding-left: 1rem; 
}

