/* GENERAL */
img {
    max-width: 100%;
}

body {
    font-family: "Raleway";
    margin: 0 auto;
    max-width: 1024px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

h3 {
    color: black;
}

a {
    text-decoration: none;
}


/* HEADER */
.header {
    text-align: center;
}

.header img {
    width: 61px;
    height: 19px;
    margin-top: 21px;
}

.headernav {
    display: flex;
    align-items: center;
}

.headernavlien {
    font-weight: 400;
    font-size: 16px;
    padding: 2rem;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    text-decoration: none;
    color: black;
}

.headernavlien:hover {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

/* SECTION RECHERCHE*/

/*BARRE DE RECHERCHE*/
.recherche {
    padding: 1.5rem;
}

.formulairederecherche {
    display: flex;
    width: 100%;
    height: 49px;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

.iconelocalisation {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation {
    width: 14px;
    height: 18px;
}

.barrederecherche {
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    color: black;
    padding-left: 1rem;
}

.barrederecherche::placeholder {
    color: black;
}

.boutonrecherche {
    background-color: #0065FC;
    align-items: center;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 3rem;
    cursor: pointer;
}

.texterecherche p {
    display: none;
}

.fa-sharp {
    color: #ffffff;
}

/*FILTRES*/
.titrefiltrederecherche {
    width: 100%;
}

.gridfiltre {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8rem;
}

.filtre {
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.iconefiltre {
    color: #0065FC;
}

.titrefiltre {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    padding-left: 0.3rem;
}

.resultatrecherche {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-top: 1rem;
}

.iconeresultat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    color: #0065FC;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

/*HEBERGEMENTS*/

/*POPULAIRE*/
.populaire {
    background-color: #f2f2f2;
    padding: 2rem;
}

.titrepopulaire {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.fa-chart-line {
    color: #0065FC;
}

.articlespopulaires {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.lienarticlepopulaire {
    height: 144px;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
}

.imgarticlepopulaire {
    height: 100%;
    width: 100%;
    border: 5px solid #ffffff;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.imgpopulairecontenaire {
    height: 134px;
    min-width: 33%;
    max-width: 33%;
}

.divcontenuarticlepopulaire {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

.fa-star {
    color: #0065FC;
}

.etoilegrise {
    color: #f2f2f2;
}

.cardheader h3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    padding-right: 1rem;
}

.cardheader p {
    font-size: 14px;
    line-height: 16px;
}

.evaldiv {
    padding-top: 1rem;
}


/*MARSEILLE*/
.hebergementmarseille {
    padding: 2rem;
}

.lienarticlemarseille {
    display: flex;
    flex-direction: column;
    border: 5px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 100%;
    margin-bottom: 1rem;
}

.divcontenuarticlemarseille {
    padding-left: 0.5rem;
}

.divcontenuarticlemarseille h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 16px;
    line-height: 15px;
}

.divcontenuarticlemarseille p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 14px;
    line-height: 16px;
}

.imgarticlemarseille {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgmarseillecontenaire {
    height: 124px;
}

.divevaluationarticlemarseille {
    padding-left: 0.5rem;
}


/*ACTIVITES*/
.activites {
    padding: 2rem;
    margin-bottom: 2rem;
}

.activite {
    display: flex;
    flex-direction: column;
    border: 0 0 5px 5px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 334px;
    margin-bottom: 1rem;
    height: 190px;
}

.activite h3 {
    font-size: 16px;
    line-height: 18px;
}

.imgactivite {
    height: 134px;
    width: 100%;
}

.imgimgactivite {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.titreactivite {
    padding-left: 1rem;
    padding-top: 0.2rem;
}

.afficherplus {
    display: none;
}

/*FOOTER*/
.footer {
    background-color: #f2f2f2;
    padding: 2.5rem;
}

.listefooter {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
    padding-bottom: 1rem;
    font-weight: 400;
}

.lienfooter {
    color: black;
}

/*REPONSIVE MINI TABLETTE*/
@media screen and (min-width: 768px) {

    /*GENERALE*/
    body {
        margin: 0 2rem;
    }

    /*header*/
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headernavlien {
        font-weight: 400;
        font-size: 16px;
        padding: 2rem;
        border-top: 3px solid #f2f2f2;
        width: 50%;
        text-decoration: none;
        color: black;
        border-bottom: 0;
    }

    .headernavlien:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        border-bottom: 0;
    }

    /*barre de recherche*/
    .recherche{
        padding: 0;
    }

    .boutonrecherche {
        background-color: #0065FC;
        align-items: center;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        width: 132px;
    }

    .fa-magnifying-glass {
        display: none;
    }

    .texterecherche p {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-weight: 700;
    }

    /*filtres*/
    .filtrerecherche {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .titrefiltrederecherche {
        width: 54px;
        padding-right: 1rem;
    }

    .gridfiltre {
        display: flex;
        gap: 1.5rem;
    }

    .filtre {
        display: flex;
        align-items: center;
        padding-left: 0.7rem;
        border: 2px solid #d9d9d9;
        border-radius: 25px;
        height: 50px;
        width: fit-content;
    }

    .titrefiltre {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        padding-left: 0.3rem;
        padding-right: 1rem;
        flex-shrink: 0;
    }

    .fa-info {
        width: 4px;
        height: 10px;
        padding-bottom: 0.4rem;
        padding-right: 0.1rem;

    }
    .resultatrecherche{
        padding-bottom: 1rem;
    }

    /*HEBERGEMENTS*/
    .hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergementmarseille {
        background-color: #f2f2f2;
        border-radius: 20px;
    }

    .titremarseille {
        padding-bottom: 1rem;
    }

    .lienarticlemarseille {
        background-color: #ffffff;
    }

    .gridcard {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 3rem;
    }

    .populaire {
        border-radius: 20px;
        margin-top: 4rem;
    }

    .articlespopulaires {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    .afficherplus {
        display: contents;
        color: black;
        font-weight: 700;
        font-size: 18;
        line-height: 55px;
    }

    /*ACTIVITES*/
    .activites{
        padding: 2rem 0;
    }
    .gridcardactivite {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 3rem;
        padding-top: 1rem;
    }

    .titreactivites br {
        display: none;
    }

    .activite {
        display: flex;
        flex-direction: column;
        border: 0 0 5px 5px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0 0 16px #0000002e;
        width: 100%;
        margin-bottom: 1rem;
        height: 267px;
    }

    .imgactivite {
        min-height: 211px;
        width: 100%;
    }

    /*FOOTER*/
    .footerdiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }


}

/* REPONSIVE TABLETTE*/
@media screen and (min-width: 1024px) {

    /*HEBERGEMENTS*/
    .gridcard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows:  1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 3rem;
    }
    .populaire{
        margin-top: 0;
    }
    .hebergementmarseille{
        margin-bottom: 3rem;
    }
}


/* REPONSIVE DESKTOP*/
@media screen and (min-width: 1240px) {

    /*GENERALE*/
    body {
        margin: 0 3rem;
        max-width: 1400px;
    }

    /*HEBERGEMENTS*/
    .hebergements {
        display: flex;
        flex-direction: row-reverse;
    }
    .hebergementmarseille{
        margin-bottom: 0;
    }
    .populaire {
        margin-left: 2.5rem;
    }

    .articlespopulaires {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 3rem;
    }

    /*ACTIVITE*/
    .activite{
        height:444px ;
    }
    .imgactivite {
        height: 389px;
        width: 100%;
    }

}