/* GENERAL */
img
{
    max-width: 100%;
}
body
{
    font-family: "Raleway";
    margin: 0 auto;
}
h1
{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
h2
{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: black; 
}
h3
{
    color: black; 
}
a
{
    text-decoration: none;
}
.iconegrise
{
    color:#f2f2f2;
}

/* HEADER */
.header
{
    text-align: center;
}
.header img
{
    width: 61px;
    height: 19px;
    margin-top: 21px;  
 }
.headernav
{
    display: flex;
    align-items: center;
}
.headernavlien
{
    font-weight: 400;
    font-size: 16px;
    padding: 2rem;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    text-decoration: none;
    color: black;  
}
.headernavlien:hover
{
    border-bottom : 3px solid #0065FC ;
    color: #0065FC;
}

/* SECTION RECHERCHE*/

/*BARRE DE RECHERCHE*/
.recherche
{
    padding: 1.5rem;
}
.formulairederecherche
{
    display: flex;
    width: 100%;
    height: 49px;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
} 
.iconelocalisation
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.localisation
{
    width: 14px;
    height: 18px;
}
.barrederecherche
{
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-size: 18px;
    color: black;
    padding-left: 1rem;
}
.barrederecherche::placeholder
{
    color: black;
}
.boutonrecherche
{
    background-color: #0065FC;
    align-items: center;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 3rem; 
}
.fa-sharp
{
    color:#ffffff ; 
}

/*FILTRES*/
.titrefiltrederecherche
{
    width: 100%;
}
.gridfiltre
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}
.filtre
{
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
    width: 150px;
}
.filtre:hover
{
    background-color:#DEEBFF ;
}
.iconefiltre
{
    color: #0065FC; 
}
.titrefiltre
{
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    padding-left: 0.3rem;
}
.resultatrecherche
{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-top: 1rem;
}
.iconeresultat
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border: solid 1px #D9D9D9;
   border-radius: 100%;
   color: #0065FC;
   width: 1.5rem;
   height: 1.5rem;
   justify-content: center;
   margin-right: 1rem;
}

/*ACTIVITES*/

/*POPULAIRE*/
.populaire
{
    background-color: #f2f2f2;
    padding: 2rem;
}
.titrepopulaire
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.fa-chart-line
{
    color: #0065FC;
}
.articlespopulaires
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.lienarticlepopulaire
{
    height: 144px;
    width: 334px;
    display: flex;  
    background-color: #ffffff;
    border-radius: 20px;
}
.imgarticlepopulaire
{
    height: 134px;
    width: 137px;
    border:5px solid #ffffff;
    border-radius:20px 0 0 20px ;
}
.divcontenuarticlepopulaire
{
    display: flex;
    flex-direction: column;
    padding-left: 1rem; 
}
.fa-star
{
    color: #0065FC;
}
.cardheader h3
{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}
.cardheader p
{
    font-size: 14px;
    line-height: 16px;
}
.evaldiv
{
    padding-top: 1rem;
}
.troisieme
{
    padding-top: 2rem;
}

/*MARSEILLE*/
.hebergementmarseille
{
    padding: 2rem;
}
.lienarticlemarseille
{
    display: flex;
    flex-direction: column;
    border:5px solid #ffffff ;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    height: 199px;
    width: 334px;
    margin-bottom: 1rem;
}
.imgarticlemarseille
{
    height:124px;
    border-radius: 20px 20px 0 0;
    width: 334px;
}

/*ACTIVITES*/
.activites
{
    padding: 2rem;
    margin-bottom: 2rem;
}
.activite
{
    display: flex;
    flex-direction: column;
    border:0 0 5px 5px solid #ffffff ;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    width: 334px;
    margin-bottom: 1rem;
}
.imgimgactivite
{
    border-radius: 20px 20px 0 0;
    height: 134px;
    width: 334px;
}
.titreactivite
{
    padding-left: 1rem;
}

/*FOOTER*/
.footer
{
    background-color:#f2f2f2 ;
    padding: 2.5rem;
}
li
{ 
    list-style-type: none;
    padding-bottom: 1rem;
    font-weight: 400;
}
